actions {
  http {}
  kafka_producer {}
  mysql {
    temp-date {
      connector = save-temp-data
      description = test
      enable = true
      parameters {
        sql = "insert into temp_data(device_id, temperature, humidity) values (${payload.device_id}, ${payload.temperature}, ${payload.humidity})"
      }
      resource_opts {
        batch_size = 1
        health_check_interval = 15s
        inflight_window = 100
        max_buffer_bytes = 256MB
        query_mode = async
        request_ttl = 45s
        worker_pool_size = 16
      }
    }
  }
}
connectors {
  http {}
  kafka_producer {}
  mysql {
    save-temp-data {
      database = temp_data
      password = public
      pool_size = 8
      resource_opts {health_check_interval = 15s, start_timeout = 5s}
      server = "mysql:3306"
      ssl {enable = false, verify = verify_peer}
      username = root
    }
  }
}
rule_engine {
  ignore_sys_message = false
  jq_function_default_timeout = 10s
  rules {
    rule_qhmm {
      actions = [
        "mysql:temp-date"
      ]
      description = ""
      enable = true
      metadata {created_at = 1720504980995}
      sql = """~
        SELECT
          *
        FROM
          "mqttx/simulate/#"~"""
    }
  }
}
